</br>
</br>
</br>
<div class="row no-gutters wow slideInUp" data-wow-duration="1s">
  <div class="container col-md-4">
        <%= form_tag(create_path, method: "POST", class: "form", remote: true) do %>
            <%= select_tag "Customer", options_from_collection_for_select(Customer.all, "id", "info"), prompt: "Customer", class: "form-control", required: true %>
            <%= select_tag "Building", options_from_collection_for_select(Building.all, "id", "adm_contact_full_name"), prompt: "Building", class: "form-control", required: true %>
            <%= select_tag "Battery", options_from_collection_for_select(Battery.all, "id", "id"), prompt: "Battery", class: "form-control", required: true %>
            <%= select_tag "Column", options_from_collection_for_select(Column.all, "id", "id"), prompt: "Column", class: "form-control" %>
            <%= select_tag "Elevator", options_from_collection_for_select(Elevator.all, "id", "id"), prompt: "Elevator", class: "form-control" %>
            <%= select_tag "Employee", options_from_collection_for_select(Employee.all, "id", "info"), prompt: "Employee", class: "form-control" %>
            <label>Report</label>
            <textarea cols="30" id="Report" name="Report" rows="10"></textarea>
            
            <%= submit_tag("Submit", class: "btn btn-primary") %>
        <% end %>
  </div>
</div>

